*{
  margin: 0;
  padding: 0;
  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  
}
body{
  background-color: rgb(16, 15, 15);
}

.flex{
  display: flex;
  /* background-color: black; */
}
.ldimen{
  width: 30vw;
  height: 97vh;
  
}
.cdimen{
  width: 40vw;
  height: 97vh;
  
}
.rdimen{
  width: 30vw;
  height: 97vh;
}
.m{
  border: 2px solid rgb(103, 102, 102);
}
.fc{
  flex-direction: column;
  gap: 20px;
}
.fr{
  flex-direction: row;
  gap: 20px;
}
.cw{
  color: white;
}
.icon{
  height: 40px;
  width: 40px;
}
.border{
border: 1px solid white;  
}
.bor1{
  border: 1px solid black;
  border-radius: 50%;
}

.dib{
  height: 190px;
  width: 400px;
}

.margin1{
  margin: 30px;
}
.social{
  height: 20px;
  width: 20px;
}

.photo{
  height: 200px;
  width: 50px;
}
.div1{
  height: 50px;
}
.d{
  height: 0px;
}

.small{
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  
}
.style{
  list-style: none;
}
.button{
  border-radius: 15px;
 background-color: rgb(76, 76, 226) ;
 color: white;
 width: 100px;
 font-weight: bolder;

}
.gap-1{
  gap: 90px;
}
.my{
  height: 60px;
  width:60px;
}
.pad-20px{
  padding: 20px;
}
.margin-t{
margin-top: 10px;
}

.grey{
  color: grey;
}
.margin-5{
  margin-top: 3px;
  margin-left: 15px;
}
.margin-left-1{
  margin-left: 140px;
  
}
.pallet-rad{
  border-radius: 30px;
}
.margin-left-1-1{
  margin-left: 40px;
  
}
.pad-20px{
  padding: 20px;
}

.dimen{
  height: 100px;
  width: 400px;
}
.invert{
  filter: invert(1);
}
.icon-q{
  height: 30px;
  width: 30px;
}
.flex-cont{
  display: flex;
  gap: 240px;
  flex-direction: row;
}

.flex-j-c{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.flex-j-c-1{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.blu{
  color: rgb(76, 76, 226);
}
.gap{
  gap: 10px;
}
.height{
  height: 60px;
}
.flex-cont-r{
  display: flex;
  flex-direction: row;
}
.photo-ban{
  height: 400px;
  width: 500px;
}
.overflow{
  overflow-x: hidden;
  overflow-y: scroll;
}
.gap-3{
  gap: 30px;
}
.car{
  height: 300px;
  width: 30vw;

}
.space{
  justify-content: space-between;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
.pallet{
  box-shadow: rgba(98, 97, 97, 0.588) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 210px;
  width: 330px;
  padding: 20px;
}

.fonti{
  font-size: smaller;
}
.margin-20{
  margin-top: 20px;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}